* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

img {
    max-width: 100%;
}

body {
    padding: 50px 100px;
}

.wrap {
    text-align: center;
}

.h1 {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 500;
}

.buttons {
    button {
        cursor: pointer;
        width: 200px;
        padding-block: 10px;
        background: 0;
        border: 2px solid #000;
        border-radius: 7px;
        font-weight: 600;
        transition: .3s ease;
    }

    button:hover {
        background-color: #00000014;
    }
}

.slots {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.slot {
    border: 1px solid #000;
    width: 300px;
    /* height: 500px; */
}


.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    width: 100px;
    height: 200px;
    margin-inline: 100px;
}

.descr {
    background-color: black;
    color: #fff;
    padding-block: 30px;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slot-name {
    color: #FFF;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
    width: 250px;
}

.descr-p {
    color: rgba(255, 255, 255, 0.56);
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 70px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.descr-p::-webkit-scrollbar {
    display: none;
  }

.icons {
    display: flex;
    gap: 25px;

    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}

.to-star {
    cursor: pointer;
    width: 100%;
    height: 55px;

    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #000;
    transition: .3s ease;
    border-radius: 15px;
}

.to-star:hover {
    background-color: #ffffffc0;
}

.to-star_active {
    background-color: rgb(31, 134, 255);
    color: white;
}